<div class="col-3 content-message">
	<div class="search-user search-bar">
		<input type="text" class="form-control" placeholder="Tìm kiếm..." style="height:30px; width:100%;">
		<i class="ti-search"></i>
	</div>
	<div class="message-scroll">
		{{#each message}}
				<div class="user-message">
					<img class="user-avatar" src="{{avata}}" alt="">
					<span class="name-user"><b>{{username}}</b></span>
					<span class="description-user">{{text}}</span>
				</div>
		{{/each}}
		{{#each groupchat}}
				<div class="user-message">
					<input class="idroom" value="{{this.idgroup}}" hidden />
					<img class="user-avatar" src="" alt="">
					<span class="name-user"><b>{{this.name}}</b></span>
					<span class="description-user"></span>
				</div>
		{{/each}}
	</div>
</div>