<div class="col-3 content-message">
	<div class="search-user search-bar">
		<input type="text" class="form-control" placeholder="Tìm kiếm...">
		<i class="ti-search"></i>
	</div>
	<div class="message-scroll">
		{{!-- {{#each messages}}
				<div class="user-message">
					<img class="user-avatar user3" src="{{messages.reciver.avata}}" alt="">
					{{#each this}}
					<span class="name-user"><b>{{this.reciver.username}}</b></span>
					<span class="description-user">{{this.text}}</span>
					{{/each}}
				</div>
		{{/each}} --}}
		{{#each dataall.ct}}
			{{!-- {{#each this}} --}}
				<div class="user-message">
					<img class="user-avatar user3" src="{{this.avata}}" alt="">
					{{#each this}}
					<span class="name-user"><b>{{this.username}}</b></span>
					<span class="description-user">{{this.text}}</span>
					{{/each}}
				</div>
			{{!-- {{/each}} --}}
		{{/each}}
	</div>
</div>