<div class="w-100">
	<div class="row m-0 w-100" style=" ;">
		{{> nav}}
		{{> content-message}}
		<input type="text" value="{{dataimg.emailuser}}" id="emailuser" hidden>
		<input type="text" value="{{dataimg.usernameprofile}}" id="nameContact" hidden>
		<input type="text" value="{{idGroupChat}}" id="idGroupChat" hidden>
		<input type="text" value="{{dataUserMessage.typeChat}}" id="typeChat" hidden>
		<input type="text" value="{{dataUserMessage.username}}" id="groupChat" hidden>
		
		{{#each check}}
			{{#members}}
			
		
			<input type="text" class="emailGroup" value="{{this}}" hidden />
			{{/members}}
		{{/each}}
		
		
		<div class="col-5 main-messagetext">
			<div class="row r1">
				<img class="user-avatar user3 user4" id="avataContact" src="{{dataUserMessage.avata}}" >
				<input type="text" id="emailcontact" value="{{emailContact}}" hidden/>
				<span class="name-user2"><b id="username">{{dataUserMessage.username}}</b></span>
				{{!-- <span class="online-status">Online 12 phút trước</span> --}}
			
			</div>
			<div class="row r2">
				<div class="mess">
					{{#each messSent}}
						{{#each this}}
						{{#if text}}
						<div class="text">{{text}}</div>
						{{/if}}
						{{/each}}
					{{/each}}
				</div>

			</div>
			<div class="row r3 ">
				<ul class="list-item3">
					<li><a ><i class="ti-face-smile"></i></a></li>
					<li><a><label for="btn-send-img"><i class="ti-camera"></i></label>
					<input type="file" id="btn-send-img" onchange="sendimg(this)" accept="image/png image/jpg" multiple hidden />
					</a></li>

					{{!-- <li><a><label for="btn-send-file"><i class="ti-clip"></i></label>
					<input type="file" id="btn-send-file-" onchange="sendfile(this)"accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" hidden  />
					</a></li> --}}
					<li><a><label for="btn-send-file"><i class="ti-clip"></i></label>
					<input type="file" id="btn-send-file" onchange="sendfile(this)" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" hidden />
					</a></li>

					<li></li>
					<input class="text-send" name="tinnhan" type="text" placeholder="Vui lòng điền tin nhăn..."
						style="background-color:#E4E4E4 ;" id="datamess">
					<i onclick="send()" class="ti-angle-right" id="btnsend"></i>


				</ul>

			</div>
		</div>
		<div class="col-3 cl3">
			<div class="information">
				{{!-- <img class="user-avatar user5" src="{{dataUserMessage.avata}}" alt="">
				<h3 class="name-info">{{dataUserMessage.username}}</h3>
				<ul class="txt2" style="list-style-type: none;"> --}}

					{{#dataUserMessage}}
						{{#if typeChat}}
							<img class="user-avatar user5" src="{{avata}}">
							<h3 class="name-info">{{username}}</h3>
						
							<ul class="txt2" style="list-style-type: none;">
								<li style="font-size: 20px;margin-bottom: 20px;"><h4>Thông tin:</h4></li>
								<li style="align-items: center; text-align: center;"><button class="btn" style="background-color: red ; color: white;" type="submit">Rời Nhóm</button></li>
							</ul>
							{{else}}
							{{#if date}}
							<img class="user-avatar user5" src="{{avata}}" alt="">
							<h3 class="name-info">{{username}}</h3>
							<ul class="txt2" style="list-style-type: none;">
								<li style="font-size: 20px;margin-bottom: 20px;"><h4>Thông tin:</h4></li>
								<li style="font-size: 20px;margin-bottom: 20px;"><i class="ti-gift" style="font-size: 25px; margin-right: 20px;color: blue;"></i>{{date}}</li>
								<li style="font-size: 20px;margin-bottom: 20px;" ><i class="fa-solid fa-venus-mars" style="font-size: 25px; margin-right: 20px;color: red;"></i>{{gender}}</li>
								<li style="font-size: 20px;margin-bottom: 20px;"><i class="fa-solid fa-envelope" style="font-size: 25px; margin-right: 20px;color: rgb(133, 133, 133);"></i>{{email}}</li>
								<li style="align-items: center; text-align: center;"><button class="btn " style="background-color: red ; color: white;" type="submit">Hủy kết bạn</button></li>
							</ul>
							{{/if}}
						{{/if}}
					
					{{/dataUserMessage}}
				

				
			</div>
		</div>
	</div>
</div>