<div class="w-100">
	<div class="row m-0 w-100" style=" ;">
		{{> nav}}
		{{> content-message}}
		<input type="text" value="{{dataimg.emailuser}}" id="emailuser" hidden>
		<input type="text" value="{{dataimg.usernameprofile}}" id="nameContact" hidden>
		<input type="text" value="{{idGroupChat}}" id="idGroupChat" hidden>
		<input type="text" value="{{dataUserMessage.typeChat}}" id="typeChat" hidden>
		<input type="text" value="{{dataUserMessage.username}}" id="groupChat" hidden>
		
		{{#each check}}
			{{#members}}
			
		
		<input type="text" class="emailGroup" value="{{this}}" hidden />
			{{/members}}
		{{/each}}
		
		
		<div class="col-5 main-messagetext">
			<div class="row r1">
				<img class="user-avatar user3 user4" id="avataContact" src="{{dataUserMessage.avata}}" >
				<input type="text" id="emailcontact" value="{{emailContact}}" hidden/>
				<span class="name-user2"><b id="username">{{dataUserMessage.username}}</b></span>
				{{!-- <span class="online-status">Online 12 phút trước</span> --}}
				<a href=""><i class="ti-headphone"></i></a>
				<a href=""><i class="ti-video-camera"></i></a>
			</div>
			<div class="row r2">
				<div class="mess">
					{{#each messSent}}
						{{#each this}}
						<p>{{text}}</p>
						{{/each}}
					{{/each}}
				</div>

			</div>
			<div class="row r3 ">
				<ul class="list-item3">
					<li><a ><i class="ti-face-smile"></i></a></li>
					<li><a><label for="btn-send-file"><i class="ti-camera"></i></label>
					<input type="file" id="btn-send-file" onchange="sendfile(this)" accept="image/png image/jpg" hidden />
					</a></li>
					<li><a><i class="ti-clip" id=""></i>
	
					</a></li>

					<li></li>
					<input class="text-send" name="tinnhan" type="text" placeholder="Vui lòng điền tin nhăn..."
						style="background-color:#E4E4E4 ;" id="datamess">
					<i onclick="send()" class="ti-angle-right" id="btnsend"></i>


				</ul>

			</div>
		</div>
		<div class="col-3 cl3">
			<div class="information">
				<img class="user-avatar user5" src="/img/avt.png" alt="">
				<h3 class="name-info">Lê Tuấn Tài</h3>
				<ul class="list-info">
					<li><a href=""><i class="ti-user"></i></a></li>
					<li><a href=""><i class="ti-bell"></i></a></li>
					<li><a href=""><i class="ti-pin-alt"></i></a></li>
				</ul>
				<p class="txt1">Tùy chỉnh cuộc trò chuyện</p>
				<div class="schedue">
					<i class="ti-calendar"></i>
					<span style="padding-left: 5px;">Tạo lịch nhắc hẹn</span>
				</div>
				<div class="pin">
					<i style="font-size: 24px;" class="ti-clip"></i>
					<span style="padding-left: 5px;">Ghim tin nhắn</span>
				</div>
				<p class="txt2">File phương tiện, hình ảnh, liên kết</p>
				<div class="file">
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
				</div>
				<div class="file2">
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>