
<div class="w-100" >
    <div class="row m-0 w-100" style=" ;"  >
        {{> nav}}
        {{> content-message}}
		<input type="text" value="{{dataimg.emailuser}}" id="emailuser" hidden > 
		<div class="col-5 main-messagetext">
			<div class="row r1">
				<img class="user-avatar user3 user4" src="{{dataimg.avtreciver}}" alt="">
				<span class="name-user2"><b>{{dataimg.username}}</b></span>
				{{!-- <span class="online-status">Online 12 phút trước</span> --}}
				<a href=""><i class="ti-headphone"></i></a>
				<a href=""><i class="ti-video-camera"></i></a>
			</div>
			<div class="row r2">
				<div class="mess">
					{{!-- <ul id="messages" style="height: 100%; border: solid 1px #cecece; list-style-type: none;"></ul> --}}
					{{!-- <img class="user-avatar user3 user4" src="{{dataimg.avtreciver}}" alt="">

					<div class="text">
						<span>{{dataimg.text}}</span>
					</div>
					<div class="text2">
						<span>Em có bạn trai rồi :>> </span>
					</div> --}}
				</div>
				
			</div>
			<div class="row r3 ">
				<ul class="list-item3">
					<li><a href=""><i class="ti-face-smile"></i></a></li>
					<li><a href=""><i class="ti-camera"></i></a></li>
					<li><a href=""><i class="ti-clip"></i></a></li>
					{{!-- <form action="message/" method="post" enctype="multipart/form-data"> --}}

					
					<input class="text-send" name="tinnhan" type="text" placeholder="Vui lòng điền tin nhăn..." style="background-color:#E4E4E4 ;" id="datamess">
					<i onclick="send()" class="ti-angle-right" id="btnsend"></i>
					
					 {{!-- <input type="submit" value="send">
					 </form> --}}
				</ul>
				
			</div>
		</div>
		<div class="col-3 cl3">
			<div class="information">
				<img class="user-avatar user5" src="/img/avt.png" alt="">
				<h3 class="name-info">Lê Tuấn Tài</h3>
				<ul class="list-info">
					<li><a href=""><i class="ti-user"></i></a></li>
					<li><a href=""><i class="ti-bell"></i></a></li>
					<li><a href=""><i class="ti-pin-alt"></i></a></li>
				</ul>
				<p class="txt1">Tùy chỉnh cuộc trò chuyện</p>
				<div class="schedue">
					<i class="ti-calendar"></i>
					<span style="padding-left: 5px;">Tạo lịch nhắc hẹn</span>
				</div>
				<div class="pin">
					<i style="font-size: 24px;" class="ti-clip"></i>
					<span style="padding-left: 5px;">Ghim tin nhắn</span>
				</div>
				<p class="txt2">File phương tiện, hình ảnh, liên kết</p>
				<div class="file">
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
				</div>
				<div class="file2">
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
